{% extends 'catalog/base.html' %}
{% load template_filter %}
<!DOCTYPE html>
{% block content %}
    <form enctype="multipart/form-data" method="post">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="formset">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            <div class="formset_row">
                                {% for field in form.visible_fields %}
                                <div class="formset-col">
                                    {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                    {{hidden}}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field.error.as_ul }}
                                    {% if not forloop.last %}
                                    {{field.label}}
                                    {% endif %}
                                    {{field}}
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
    <script>
        $('.formset_row').formset({
            addText : '<span class ="btn btn-outline-primary">Добавить</span>',
            deleteText : '<span class = "btn btn-outline-danger">Удалить</span>',
            prefix:'tag_set',
        });
    </script>

{% endblock %}
