{% extends 'catalog/base.html' %}
{% load template_filter %}
{% block content %}
<h1>Статьи</h1>
{% for object in object_list %}
  <ul>
    <li><a href="{% url 'catalog:record_detail' object.slug %}">{{ object.title }}</a></li>
          <p>Просмотры: {{object.views_counter}}</p>
          <p>{{object.content}}</p>
          <image src="/media/Wlog_image/{{object.image}}" width=500 height="300"></image><br>
  </ul>
{% endfor %}
    <tr>
    <a href="{% url 'catalog:create_record' %}">Создать</a>
{% endblock %}
